<link rel="stylesheet" href="/css/home.css">
<header class="overflow-container">
    <div class="page-horizontal-container h-100">
        <div class="container h-100 d-flex align-items-center">
            <a href="" class="no-decoration mr-3 font-20">VP</a>
            <a href="" class="no-decoration">Home</a>
        </div>
    </div>
</header>
<div class="overflow-container page-vertical-container">
    <main class="page-horizontal-container">
        <div class="container">
            <!-- CARDS START -->
            <div class="row mx-n4 py-5">

                <!-- CARD -->
                <div class="col-12 col-md-6 col-lg-4 px-4 py-5">
                    <div class="card border-0">
                        <div class="row m-0">
                            <div class="col-7 p-2">
                                <div class="position-relative h-100">
                                    <div class="bg-secondary h-100 w-100">image</div>
                                    <!-- <div class="bg-secondary" style="width: 100%; padding-top: 50%"></div> -->
                                </div>
                            </div>
                            <div class="col-5 p-2 d-flex flex-column">
                                <p class="m-0"><b>TOPIC 1</b></p>
                                <p class="m-0 text-muted small">Posted: 2 Jan 2020</p>
                                <!-- <p class="max-lines">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, magnam. Eius tempora sint tempore voluptatem, ipsa corporis harum architecto fugiat ut. Tenetur odit, provident nam ad illum ratione maxime porro.</p> -->
                                <p class="block-with-text m-0 mb-auto">Lorem ipsum dolor sit amet consectetur
                                    adipisicing elit. Ad,
                                    magnam. Eius
                                    tempora sint tempore voluptatem, ipsa corporis harum architecto fugiat ut. Tenetur
                                    odit, provident
                                    nam ad illum ratione maxime porro.</p>
                                <p class="m-0 text-right">
                                    <a href="">See more</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- CARD -->
                <div class="col-12 col-md-6 col-lg-4 px-4 py-5">
                    <div class="card border-0">
                        <div class="row m-0">
                            <div class="col-7 p-2">
                                <div class="position-relative h-100">
                                    <div class="bg-secondary h-100 w-100">image</div>
                                    <!-- <div class="bg-secondary" style="width: 100%; padding-top: 50%"></div> -->
                                </div>
                            </div>
                            <div class="col-5 p-2 d-flex flex-column">
                                <p class="m-0"><b>TOPIC 1</b></p>
                                <p class="m-0 text-muted small">Posted: 2 Jan 2020</p>
                                <!-- <p class="max-lines">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, magnam. Eius tempora sint tempore voluptatem, ipsa corporis harum architecto fugiat ut. Tenetur odit, provident nam ad illum ratione maxime porro.</p> -->
                                <p class="block-with-text m-0 mb-auto">Lorem ipsum dolor sit amet consectetur
                                    adipisicing elit. Ad,
                                    magnam. Eius
                                    tempora sint tempore voluptatem, ipsa corporis harum architecto fugiat ut. Tenetur
                                    odit, provident
                                    nam ad illum ratione maxime porro.</p>
                                <p class="m-0 text-right">
                                    <a href="">See more</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- CARD -->
                <div class="col-12 col-md-6 col-lg-4 px-4 py-5">
                    <div class="card border-0">
                        <div class="row m-0">
                            <div class="col-7 p-2">
                                <div class="position-relative h-100">
                                    <div class="bg-secondary h-100 w-100">image</div>
                                    <!-- <div class="bg-secondary" style="width: 100%; padding-top: 50%"></div> -->
                                </div>
                            </div>
                            <div class="col-5 p-2 d-flex flex-column">
                                <p class="m-0"><b>TOPIC 1</b></p>
                                <p class="m-0 text-muted small">Posted: 2 Jan 2020</p>
                                <!-- <p class="max-lines">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, magnam. Eius tempora sint tempore voluptatem, ipsa corporis harum architecto fugiat ut. Tenetur odit, provident nam ad illum ratione maxime porro.</p> -->
                                <p class="block-with-text m-0 mb-auto">Lorem ipsum dolor sit amet consectetur
                                    adipisicing elit. Ad,
                                    magnam. Eius
                                    tempora sint tempore voluptatem, ipsa corporis harum architecto fugiat ut. Tenetur
                                    odit, provident
                                    nam ad illum ratione maxime porro.</p>
                                <p class="m-0 text-right">
                                    <a href="">See more</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- CARD -->
                <div class="col-12 col-md-6 col-lg-4 px-4 py-5">
                    <div class="card border-0">
                        <div class="row m-0">
                            <div class="col-7 p-2">
                                <div class="position-relative h-100">
                                    <div class="bg-secondary h-100 w-100">image</div>
                                    <!-- <div class="bg-secondary" style="width: 100%; padding-top: 50%"></div> -->
                                </div>
                            </div>
                            <div class="col-5 p-2 d-flex flex-column">
                                <p class="m-0"><b>TOPIC 1</b></p>
                                <p class="m-0 text-muted small">Posted: 2 Jan 2020</p>
                                <!-- <p class="max-lines">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, magnam. Eius tempora sint tempore voluptatem, ipsa corporis harum architecto fugiat ut. Tenetur odit, provident nam ad illum ratione maxime porro.</p> -->
                                <p class="block-with-text m-0 mb-auto">Lorem ipsum dolor sit amet consectetur
                                    adipisicing elit. Ad,
                                    magnam. Eius
                                    tempora sint tempore voluptatem, ipsa corporis harum architecto fugiat ut. Tenetur
                                    odit, provident
                                    nam ad illum ratione maxime porro.</p>
                                <p class="m-0 text-right">
                                    <a href="">See more</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- CARD -->
                <div class="col-12 col-md-6 col-lg-4 px-4 py-5">
                    <div class="card border-0">
                        <div class="row m-0">
                            <div class="col-7 p-2">
                                <div class="position-relative h-100">
                                    <div class="bg-secondary h-100 w-100">image</div>
                                    <!-- <div class="bg-secondary" style="width: 100%; padding-top: 50%"></div> -->
                                </div>
                            </div>
                            <div class="col-5 p-2 d-flex flex-column">
                                <p class="m-0"><b>TOPIC 1</b></p>
                                <p class="m-0 text-muted small">Posted: 2 Jan 2020</p>
                                <!-- <p class="max-lines">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, magnam. Eius tempora sint tempore voluptatem, ipsa corporis harum architecto fugiat ut. Tenetur odit, provident nam ad illum ratione maxime porro.</p> -->
                                <p class="block-with-text m-0 mb-auto">Lorem ipsum dolor sit amet consectetur
                                    adipisicing elit. Ad,
                                    magnam. Eius
                                    tempora sint tempore voluptatem, ipsa corporis harum architecto fugiat ut. Tenetur
                                    odit, provident
                                    nam ad illum ratione maxime porro.</p>
                                <p class="m-0 text-right">
                                    <a href="">See more</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- CARD -->
                <div class="col-12 col-md-6 col-lg-4 px-4 py-5">
                    <div class="card border-0">
                        <div class="row m-0">
                            <div class="col-7 p-2">
                                <div class="position-relative h-100">
                                    <div class="bg-secondary h-100 w-100">image</div>
                                    <!-- <div class="bg-secondary" style="width: 100%; padding-top: 50%"></div> -->
                                </div>
                            </div>
                            <div class="col-5 p-2 d-flex flex-column">
                                <p class="m-0"><b>TOPIC 1</b></p>
                                <p class="m-0 text-muted small">Posted: 2 Jan 2020</p>
                                <!-- <p class="max-lines">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, magnam. Eius tempora sint tempore voluptatem, ipsa corporis harum architecto fugiat ut. Tenetur odit, provident nam ad illum ratione maxime porro.</p> -->
                                <p class="block-with-text m-0 mb-auto">Lorem ipsum dolor sit amet consectetur
                                    adipisicing elit. Ad,
                                    magnam. Eius
                                    tempora sint tempore voluptatem, ipsa corporis harum architecto fugiat ut. Tenetur
                                    odit, provident
                                    nam ad illum ratione maxime porro.</p>
                                <p class="m-0 text-right">
                                    <a href="">See more</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- CARD -->
                <div class="col-12 col-md-6 col-lg-4 px-4 py-5">
                    <div class="card border-0">
                        <div class="row m-0">
                            <div class="col-7 p-2">
                                <div class="position-relative h-100">
                                    <div class="bg-secondary h-100 w-100">image</div>
                                    <!-- <div class="bg-secondary" style="width: 100%; padding-top: 50%"></div> -->
                                </div>
                            </div>
                            <div class="col-5 p-2 d-flex flex-column">
                                <p class="m-0"><b>TOPIC 1</b></p>
                                <p class="m-0 text-muted small">Posted: 2 Jan 2020</p>
                                <!-- <p class="max-lines">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, magnam. Eius tempora sint tempore voluptatem, ipsa corporis harum architecto fugiat ut. Tenetur odit, provident nam ad illum ratione maxime porro.</p> -->
                                <p class="block-with-text m-0 mb-auto">Lorem ipsum dolor sit amet consectetur
                                    adipisicing elit. Ad,
                                    magnam. Eius
                                    tempora sint tempore voluptatem, ipsa corporis harum architecto fugiat ut. Tenetur
                                    odit, provident
                                    nam ad illum ratione maxime porro.</p>
                                <p class="m-0 text-right">
                                    <a href="">See more</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- CARD -->
                <div class="col-12 col-md-6 col-lg-4 px-4 py-5">
                    <div class="card border-0">
                        <div class="row m-0">
                            <div class="col-7 p-2">
                                <div class="position-relative h-100">
                                    <div class="bg-secondary h-100 w-100">image</div>
                                    <!-- <div class="bg-secondary" style="width: 100%; padding-top: 50%"></div> -->
                                </div>
                            </div>
                            <div class="col-5 p-2 d-flex flex-column">
                                <p class="m-0"><b>TOPIC 1</b></p>
                                <p class="m-0 text-muted small">Posted: 2 Jan 2020</p>
                                <!-- <p class="max-lines">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, magnam. Eius tempora sint tempore voluptatem, ipsa corporis harum architecto fugiat ut. Tenetur odit, provident nam ad illum ratione maxime porro.</p> -->
                                <p class="block-with-text m-0 mb-auto">Lorem ipsum dolor sit amet consectetur
                                    adipisicing elit. Ad,
                                    magnam. Eius
                                    tempora sint tempore voluptatem, ipsa corporis harum architecto fugiat ut. Tenetur
                                    odit, provident
                                    nam ad illum ratione maxime porro.</p>
                                <p class="m-0 text-right">
                                    <a href="">See more</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- CARD -->
                <div class="col-12 col-md-6 col-lg-4 px-4 py-5">
                    <div class="card border-0">
                        <div class="row m-0">
                            <div class="col-7 p-2">
                                <div class="position-relative h-100">
                                    <div class="bg-secondary h-100 w-100">image</div>
                                    <!-- <div class="bg-secondary" style="width: 100%; padding-top: 50%"></div> -->
                                </div>
                            </div>
                            <div class="col-5 p-2 d-flex flex-column">
                                <p class="m-0"><b>TOPIC 1</b></p>
                                <p class="m-0 text-muted small">Posted: 2 Jan 2020</p>
                                <!-- <p class="max-lines">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, magnam. Eius tempora sint tempore voluptatem, ipsa corporis harum architecto fugiat ut. Tenetur odit, provident nam ad illum ratione maxime porro.</p> -->
                                <p class="block-with-text m-0 mb-auto">Lorem ipsum dolor sit amet consectetur
                                    adipisicing elit. Ad,
                                    magnam. Eius
                                    tempora sint tempore voluptatem, ipsa corporis harum architecto fugiat ut. Tenetur
                                    odit, provident
                                    nam ad illum ratione maxime porro.</p>
                                <p class="m-0 text-right">
                                    <a href="">See more</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- CARDS END -->
        </div>
    </main>
    <footer class="page-horizontal-container py-5">
        <div class="container">
            <p>asdf</p>
            <p>asdf</p>
        </div>
    </footer>
</div>
<script src="/js/home.js"></script>