<header class="overflow-container">
    <div class="page-horizontal-container h-100">
        <div class="container h-100 d-flex align-items-center">
            <a href="" class="no-decoration mr-3 font-20">VP</a>
            <a href="" class="no-decoration">Home</a>
        </div>
    </div>
</header>
<div class="overflow-container page-vertical-container">
    <main class="page-horizontal-container">
        <div class="container">
            <p>asdf</p>
            <p>asdf</p>
            <p>asdf</p>
            <p>asdf</p>
            <p>asdf</p>
            <p>asdf</p>
            <p>asdf</p>
            <p>asdf</p>
            <p>asdf</p>
            <p>asdf</p>
            <p>asdf</p>
            <p>asdf</p>
            <p>asdf</p>
            <p>asdf</p>
            <p>asdf</p>
        </div>
    </main>
    <footer class="page-horizontal-container py-5">
        <div class="container">
            <p>asdf</p>
            <p>asdf</p>
        </div>
    </footer>
</div>
<script src="/js/video.js"></script>