:root {
  --header-height: 60px;
}

body {
  font-size: 14px;
  background-color: whitesmoke;
}

.overflow-container {
  overflow-x: hidden;
}

.page-horizontal-container {
  min-width: 360px;
}

a.no-decoration:hover {
  text-decoration: none;
}

.font-20 {
  font-size: 20px;
}

.page-vertical-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10000;
  width: 100%;
  height: var(--header-height);
  background-color: rgba(255, 0, 0, 0.4);
}

header a {
  color: black;
}

header a:hover {
  color: inherit;
}

.page-vertical-container main {
  flex: 1 1 auto;
  padding-top: var(--header-height);
}

.page-vertical-container footer {
  flex: 0 0 auto;
  background-color: grey;
}
